.bienvenida {
  margin: 0;
  font-size: 24px;
}
.Barraprincipal {
  display: flex;
  justify-content: space-between; /* Empuja los 3 bloques: Izquierda, Centro y Derecha */
  align-items: center;            /* Centra verticalmente los elementos */
  padding: 10px 30px;
  background-color: #ffffff;      /* Ajusta el fondo si lo necesitas */
}
.imagenAve,
.comida,
.Origen {
  width: 70px;                    /* Ajusta este valor si las quieres un poco más grandes o pequeñas */
  height: 70px;
  object-fit: contain;            /* Evita que la imagen se deforme o estire */
  cursor: pointer;
}